.App {
  display: block;
  max-width: 600px;
  max-height: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #201749;
  border-radius: 10px;
  background: radial-gradient(
    circle at 0.7% 1%,
    rgb(215, 248, 247) 0%,
    rgb(102, 188, 239) 100.2%
  );
}
