.Search h1 {
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 26px;
}
.Search h2 {
  font-family: var(--main-font-family);
  color: var(--secondary-font-color);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  font-size: 23px;
}
form {
  position: relative;
  bottom: 5%;
  left: 355px;
}
.GoButton,
.SearchCity {
  font-family: var(--main-font-family);
  font-weight: 550;
  color: var(--secondary-font-color);
  border: 2px solid;
  border-radius: 5px;
  border-color: var(--main-font-color);
}
